@font-face {
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --font-size: 16px;
  --line-height: 1.6em;
  --h-line-height: 1.2em;
  --h1: 72px;
  --h2: 60px;
  --h3: 34px;
}

body {
  min-width: 1110px;
  max-width: 1440px;

  margin: 0 auto;

  color: var(--dark);

  font-weight: 400;
  font-size: var(--font-size);
  font-family: OpenSans, sans-serif;
  line-height: var(--line-height);
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: 400;
  font-family: Neucha, cursive;
  line-height: var(--h-line-height);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

/** Секция-1 **/

p {
  margin: 0;
}

.mt-15 {
  margin-top: 15px;
}

.background {
  position: relative;

  background-color: var(--light);
}

.background::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: var(--brown);

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.main-position {
  position: relative;

  box-sizing: border-box;

  width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.orange-style {
  color: var(--main);
}

.main-toto {
  position: absolute;

  top: 55px;
  right: -270px;

  height: 525px;
}

.two-columns {
  position: relative;

  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: space-between;

  box-sizing: border-box;
}

.text-column {
  flex: 1;
}

.button {
  display: block;

  box-sizing: border-box;
  width: max-content;

  margin-top: 40px;
  padding: 12px 24px;

  color: var(--white);

  font-weight: bolder;

  text-decoration: none;

  background-color: var(--main);
}

.button:hover {
  background-color: var(--main);
}

/** Секция-2 **/

.mb-30 {
  margin-bottom: 30px;
}

.centery {
  text-align: center;
}

.video-frame {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: center;

  box-sizing: border-box;

  height: 469px;

  margin: 0 auto;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/** Секция-3 **/

#navigation {
  position: relative;
  z-index: 1;

  margin-top: -100px;
  padding-top: 200px;

  background-color: var(--basic-dark);
}

.card-menu-1,
.card-menu-2 {
  display: flex;
  justify-content: center;
}

.card-menu-1 {
  margin-bottom: 20px;
}

.card-menu-2 {
  padding-bottom: 100px;
}

.white-style {
  color: var(--white);
}

.number {
  margin-top: 0;
  margin-bottom: 40px;

  color: var(--basic-dark);

  font-weight: 400;
  font-size: 64px;

  font-family: Neucha, sans-serif;
  font-style: normal;

  line-height: 1;
}

.border-width {
  width: 302px;
}

.card-head {
  margin: 0;
  margin-bottom: 10px;

  color: var(--main);

  font-family: Neucha, sans-serif;
  font-style: normal;

  line-height: var(--h-line-height);
}

.card-text {
  color: var(--dark);

  line-height: 26px;
}

.card-0 {
  padding: 0 10px 0 0;

  background-color: var(--basic-dark);
}

.p-card-style {
  margin: 0;

  font-weight: 400;
  font-size: 52px;

  font-family: Neucha, sans-serif;
  font-style: normal;

  line-height: var(--h-line-height);
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
  padding: 24px;

  background-color: var(--light);
}

.card-1,
.card-4 {
  margin: 0 30px;
}

.card-2 > .card-text,
.card-4 > .card-text {
  margin-bottom: 0;
}

.card-1:hover {
  background-color: var(--blue);
}

.card-1:hover .number {
  color: var(--light);
}

.card-1:hover .card-head {
  color: var(--light);
}

.card-1:hover .card-text {
  color: var(--light);
}

.card-2:hover {
  background-color: var(--main);
}

.card-2:hover .number {
  color: var(--white);
}

.card-2:hover .card-head {
  color: var(--white);
}

.card-2:hover .card-text {
  color: var(--white);
}

.card-3:hover {
  background-color: var(--blue);
}

.card-3:hover .number {
  color: var(--light);
}

.card-3:hover .card-head {
  color: var(--light);
}

.card-3:hover .card-text {
  color: var(--light);
}

.card-4:hover {
  background-color: var(--main);
}

.card-4:hover .number {
  color: var(--white);
}

.card-4:hover .card-head {
  color: var(--white);
}

.card-4:hover .card-text {
  color: var(--white);
}

.card-5:hover {
  background-color: var(--blue);
}

.card-5:hover .number {
  color: var(--light);
}

.card-5:hover .card-head {
  color: var(--light);
}

.card-5:hover .card-text {
  color: var(--light);
}

.card-menu-1 > a,
.card-menu-2 > a {
  display: contents;

  text-decoration: none;
}

/** Секция-4 **/

/** Секция-6 **/

.inline {
  column-count: 2;
  column-gap: 100px;
}

.img-1 {
  width: 578px;
  height: 434px;

  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.translucent-dark {
  margin: 0;

  color: var(--translucent-dark);

  font-weight: 400;
  font-size: 24px;
  font-family: Neucha, cursive;
}

.text-style-1 {
  margin: 0;
  padding-top: 30px;

  font-size: var(--h3);
  font-family: Neucha, cursive;
  line-height: var(--h-line-height);
}

.margin-posit {
  position: relative;

  margin: 100px 0 20px;
}

.lightground {
  margin: 0;
  padding: 5px 0 5px 10px;

  color: var(--white);

  font-weight: 700;
  font-size: 14px;

  line-height: 17px;

  background-color: var(--brown);
}

/** Секция-5 **/

#premature-optimization {
  position: relative;

  background-color: var(--brown);
}

#premature-optimization::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: var(--brown);

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.flex {
  display: flex;
}

.translucent-white {
  margin: 0;

  color: var(--translucent-white);

  font-size: 24px;
  font-family: Neucha, cursive;
}

.brownground {
  margin: 0;
  padding: 5px 0 5px 10px;

  color: var(--brown);

  font-weight: 700;
  font-size: 14px;

  line-height: 17px;

  background-color: var(--white);
}

/** Секция-7 **/

#hyperbolic-depreciation {
  position: relative;

  background-color: var(--brown);
}

#hyperbolic-depreciation::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: var(--brown);

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}
